@import 'normalize';
@import 'sizing';

$sans-serif: 'Open Sans',sans-serif;
$serif: 'Merriweather',serif;
$orange: #f05f40;
$orange-9: #f06040e3;
$gray: #212529;
$light-gray : #6c757d;

.page {
  color: white;
  font-family: $sans-serif;
}

.page .page__container-responsive {
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.9rem;
}

.page__flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.page .page__text--normal-weight {
  font-weight: 300;
}

.page .page__text--light-gray {
  color: $light-gray;
}

.page .page__text--no-margin {
  margin: 0;
}

.page .page_section--center-text {
  text-align: center;
}

.page__button {
  background-color: $orange;
  border-color: $orange;
  border-radius: 50px;
  border-width: 0;
  text-transform: uppercase;
  line-height: 1.5;
  padding: 1rem 2rem;
  color: white;
  font-style: $sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.page__button--white-background {
  background-color: white;
}

.page .page__text--gray {
  color: $gray;
}

.page .page__p--extra-margin {
  margin-bottom: 3rem;
}

.page__p {
  font-size: 1rem;
  font-family: $serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.page__p--faded {
  color: rgba(255,255,255,0.7);
}

.page__title {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

.page__title--smaller {
  font-size: 1.75rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.page .page__title--extra-margin {
  margin: 0 0 1.5rem 0;
}

.page .page__p--margin {
  margin-bottom: 2rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: white;
  font-family: $sans-serif;
  z-index: 2;
  font-weight: bold;
  text-transform: uppercase;
  color: $orange;
}

.nav__flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  color: $orange;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
}

.nav__hamburger {
  width: 54px;
  height: 39px;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  background: center 0px no-repeat url('../assets/hamburger.svg');
  background-size: 45px 45px;
  cursor: pointer;
}

.nav__ul {
  list-style-type: none;
  display: block;
  background-color: white;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.5rem;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: 0px;
  transition: all 0.4s;
  transition-timing-function: ease-out;
}

.nav__li, .nav__li:visited {
  display: block;
  text-decoration: none;
  color: $gray;
  padding: 0.5rem 0;
}

.nav__li:hover {
  color: $orange;
}

.nav__li:active {
  color: $orange;
}

.nav__ul--active {
  max-height: 200px;
}

.header {
  background: center no-repeat url('../assets/header.jpg');
  background-size: cover;
  padding: 10rem 0 calc(10rem - 55px) 0;
}

.section {
  padding: 8rem 0;
}

.section--orange-background {
  background-color: $orange;
  margin: 0;
}

.section__icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.section__icon--large {
  width: 70px;
  height: 70px;
  margin-top: 3rem;
}

.section__icon--phone{
  background: center 0px no-repeat url('../assets/phone.svg');
  background-size: cover;
}

.section__icon--email{
  background: center 0px no-repeat url('../assets/email.svg');
  background-size: cover;
  text-decoration: none;
  color: $gray;
}

.section__icon--diamond{
  background: center 0px no-repeat url('../assets/diamond.svg');
  background-size: cover;
  text-decoration: none;
  color: $gray;
}

.section__icon--plane {
  background: center 0px no-repeat url('../assets/plane.svg');
  background-size: cover;
  text-decoration: none;
  color: $gray;
}

.section__icon--markup {
  background: center 0px no-repeat url('../assets/markup.svg');
  background-size: cover;
  text-decoration: none;
  color: $gray;
}

.section__icon--heart {
  background: center 0px no-repeat url('../assets/heart.svg');
  background-size: cover;
  text-decoration: none;
  color: $gray;
}

.section__email {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: $orange;
  font-family: $serif;
}

.hr {
  max-width: 50px;
  border-style: solid;
  color: $orange;
  border-width: 3px 0 0 0;
  margin: 1.5rem auto;
}

.section__hr--white {
  color: white;
}

.section--gray-background {
  background-color: $gray;
}

.header__hr--extra-margin {
  margin: 1.9rem auto;
}

.image--responsive {
  max-width: 100%;
  max-height: 100%;
}

.image__overlay {
  opacity: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $sans-serif;
  transition: all 0.25s;
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: $orange-9;
}

.image__overlay-category {
  font-weight: bold;
  font-size: 0.9rem;
}

.image__overlay-name {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0.5rem;
}

.image__overlay:hover {
  opacity: 1;
}

.page__flex-div--width {
  line-height: 0;
  max-width: 100%;
  position: relative;
}

.service-box {
  max-width: 400px;
}


@media (min-width: 576px) {
  .page__flex-container--row {
    flex-direction: row;
  }

  .page__flex-div--width {
    max-width: 50%;
  }
}


@media (min-width: 768px) {
  .page .page__container-responsive {
    max-width: 750px;
  }
}


@media (min-width: 992px) {
  .page .page__container-responsive {
    max-width: 970px;
  }
  .page__flex-div--width {
    max-width: 33.33%;
  }
}


@media (min-width: 1200px) {
  .page .page__container-responsive {
    max-width: 1170px;
  }
}